@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html > body ul,
html > body li {
    margin:0;
    padding:0;
    list-style:none;
}

html > body {
    font-family: 'LeferiPoint-WhiteObliqueA';
    text-underline-position: under;
    position: relative;
    min-height: 100%;
}

